<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Shared Magenx tab: declared locally, merged by id across modules. -->
        <tab id="magenx" translate="label" sortOrder="400">
            <label>Magenx</label>
        </tab>
        <section id="magenx_blog" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Blog</label>
            <tab>magenx</tab>
            <resource>Magenx_Blog::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Blog</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When set to No the blogPosts / blogPost / blogTag / blogCategories GraphQL queries resolve to empty results for this store, without removing any data.</comment>
                </field>
                <field id="posts_per_page" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Posts Per Page</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <comment>Page size used by blogPosts when the query does not pass pageSize.</comment>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="max_page_size" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Page Size</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <comment>Upper bound on the pageSize a blogPosts query may request; larger values are clamped to this. Guards against a single query loading the whole post table.</comment>
                    <depends><field id="enabled">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
